
  <section class="bcls-section">
    <h2 id="Introduction">Introduction</h2>
    <p>
      Google Chromecast is a device that you plug into your TV's HDMI port. Using your smartphone or computer as a remote control, you can use Chromecast to access video content. The Chromecast Plugin enables a player to cast video from your 
      {% if site.product_short == "SDKs" %}
        mobile device app using the Brightcove Native SDKs
        {% else %}
        desktop or Android Chrome browser using Brightcove Player
        {% endif %} 
        to the Chromecast device.
    </p>
    <p>The plugin supports all
      Video Cloud videos or external streams using HLS or DASH, including DRM-encrypted streams using Widevine. Advertising is supported through Video Cloud server-side ad insertion (SSAI). Client-side ads and playlists are not supported.</p>
    <p>To use the plugin follow these steps:</p>
    <ol class="bcls-tasklist">
      <li>
        Include the Chromecast Plugin for 
        {% if site.product_short == "SDKs" %}
        the Native SDK for Android and/or iOS
        {% else %}
        Brightcove Player
        {% endif %} 
        (see <a href="#Implementation">Implementation</a> section below).
      </li>
      <li>
        Be sure the Chromecast device is on the same network as your device that will play the video.
      </li>
      <li>Start playing the video.</li>
      <li>Click the cast button and select your Chromecast device.</li>
    </ol>

    <h3 id="Chromecast_app_components">Chromecast app components</h3>
    <p>
      The software behind Chromecast is comprised of the following components: </p>
    <ul>
      <li>
        <p>
          <strong>Sender app</strong>: This is any application that can initiate a cast session and communicate with a receiver. The sender application can be thought of as the "client side" portion of the Chromecast ecosystem.
        </p>
        <p>
          {% if site.product_short == "SDKs" %}
          The Chromecast Plugin enables the sender app in the Native SDKs. You will learn about it in this topic.
          {% else %}
          The Chromecast Plugin for Brightcove Player enables the sender app in Brightcove Player. You will learn about it in this topic.
          {% endif %} 
          
        </p>
      </li>
      <li>
        <p>
          <strong>Receiver app</strong>: This is a custom web application that is hosted on the public internet and runs on a Chromecast device. It handles communication between the sender app and the receiver device. It can be thought of as a single page HTML app with CSS and JavaScript assets.
        </p>
        <p>By default, the Chromecast Plugin uses the Brightcove Cast Receiver app, which is hosted on our CDN. The receiver app is a web application that is loaded onto the Chromecast during a cast session.</p>
        <!-- <p>
 As a Brightcove Player customer, you do not need to work with the code and configuration of the receiver application. By default, this plugin uses the Brightcove receiver app.
 </p> -->
        <aside class="bcls-aside bcls-aside--information">Notes:
          <ul>
            <li>The Brightcove Cast Receiver app does not support Chromecast queueing.</li>
            <li>For Chromecast to work with domain restricted players, you should whitelist the Chromecast receiver's domain, which is <code translate="No">players.brightcove.net</code>.</li>
            <li>Using your own custom receiver app:
              <ul>
                <li>With the Brightcove Native SDKs, you can change the receiver app id</li>
                <li>With Brightcove Player (web), this is currently not supported</li> 
              </ul>
            </li>
          </ul> 
        </aside>
      </li>
    </ul>
  </section>
  
  <section class="bcls-section">
    <h2 id="Supported_Chromecast_devices">Supported Chromecast devices</h2>
    <p>The following devices are supported:</p>
    <ul>
      <li>Chromecast (3rd Generation)</li>
      <li>Chromecast Ultra</li>
      <li>Chromecast with Google TV</li>
    </ul>
    <aside class="bcls-aside bcls-aside--information"> Older versions or combinations may continue working, but they are not supported.
    </aside>
  </section>

  <section class="bcls-section">
    <h2 id="How_it_Works">How it Works</h2>
    <p>The current implementation (plugin/receiver version 2.x) uses the CAF (Cast Application Framework) API.</p>
    <p>
      When the Chromecast receiver plugin is added, the player will display a cast button in the player UI when there is an available Chromecast on the local network.
    </p>
    <p>
      When this button is clicked or tapped, a cast session is initiated with the current video that is loaded in the player. Here's how it works: </p>
    <ol class="bcls-tasklist-restart">
      <li>The plugin sends a set of parameters to the receiver.</li>
      <li>The receiver mirrors the sending player by loading it from Brightcove's CDN.</li>
      <li>Once loaded, the receiver-side player loads the video ID from the Playback API that was sent when the cast session began.</li>
      <li>Then, the receiver-side player begins playback at the playhead position of the sending player.</li>
    </ol>
    <p>This process is identical for non-Video Cloud sources except there is no Playback API request.</p>
    <h3>Analytics</h3>
    <p>Currently, from an analytics perspective, the cast session is treated as an entirely new playback session.</p>
    <p>From a UX perspective, the viewer will see their stream pause on the sender device and resume on the receiver.</p>
    <p>From a data perspective, because our metrics are anonymized by default, it is logged as a new viewer starting a new stream on a separate device. This is what actually happens.</p>
    <aside class="bcls-aside bcls-aside--information language-editable">Also note that Chromecast is categorized in the Analytics Module either as <code translate="no">android</code> or <code translate="no">linux</code>, depending on its user-agent and Chromecast version.</aside>
  </section>

